Artwork/converter/node_modules
*.IST
*.png
backup
*.BTS
.vscode/ipch
.pioenvs
.piolibdeps
.vscode/.browse.c_cpp.db*
c_cpp_properties.json
launch.json
WeatherKey.h
testwww
.pio
Artwork/converter_default/node_modules
